* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: all 0.4s ease-in-out;
  font-family: "Open Sans", sans-serif;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: "Bubblegum Sans", sans-serif;
  /*font-weight: 400;
    font-style: normal;*/
}

$primary: #b97e3c;
$font-size-base: 1rem;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
);

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}

@import "../node_modules/bootstrap/scss/bootstrap"; //Overrides default values from bootstrap