:root {
  --primary-color: #b97e3c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: all 0.4s ease-in-out;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /*
  background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  */
}
